html {
    box-sizing: border-box;
}
.container {
    background-color: mediumslateblue;
    padding: 0;
    width: 70vw;
    height: 70vh;
    min-height: 400px;
    min-width: 800px;
    margin: 15vh 15vw 15vh 15vw;
}